<header>
  <h1>First Angular Application Sumit Patil</h1>
</header>
<div class="container">
   <div class="box">
     <p>JavaScript</p>
    </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero, iste, dolore ex minus quidem repellendus repudiandae a debitis ad delectus quisquam? Quis, velit! Nam, dolor. Quasi deleniti molestias omnis maxime tempore in sed laudantium, itaque sit optio qui, ipsam neque possimus, earum corrupti dicta suscipit quibusdam. Nobis non atque eum eveniet magnam odit eius iste laudantium maxime pariatur voluptas officiis esse alias minus doloribus optio vel, quae est, vero blanditiis perspiciatis sint quos totam. Accusantium, asperiores aspernatur doloribus vel sapiente eum sed cum autem culpa. Delectus commodi dolores a laboriosam totam dicta, accusantium molestiae nostrum, blanditiis rerum in quibusdam!</p>
</div>

<p class="value">My Value Is:{{myValue}}</p>
<p>My Courses Name:{{courses}}</p>

